
/* *************************************************************************
variabelen
************************************************************************* */
$breekpunt1: 560px; /* < gsm */
$breekpunt2: 768px; /* tablet */
$breekpunt3: 992px; /* desktop */
$breekpunt4: 1200px; /* grote desktop */

$color1: #FE9C8F; /* zalmroze */
$color2: #95B4F2; /* paars */
$color3: #F2E9DF; /* beige */
$color4: #B7CCF5; /* lichtpaars */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Saira:400,700");

$font1: 'Saira', sans-serif;
$font2: 'Roboto', sans-serif;

/* *************************************************************************
navigatie
************************************************************************* */

/* navigation menu mobile*/
.nav-mobile {
    overflow: hidden;
    background-color: $color2;
    position: relative;
    font-family: $font1;
    @media (min-width: $breekpunt3){
        display: none;
    }

    #nav-items-mobile{
        display: none;
      }
  }

  .nav-mobile a { /* links stijlen*/
    color: $color4;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;

    &.icon{ /* hamburgertje stijlen*/
        background: $color1;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
  }

  .nav-mobile a:hover { /* hoveren over links */
    background-color:$color1;
    color: $color3;
  }
  
.active { /* titel pagina */
    background-color: $color1;
    color: white;
  }
.navbar nav-desktop{
    display: none;
}
.titel{
    display: none;
    @media (min-width: $breekpunt3) {
        display: block;
        font-family: $font1;
        font-size: 38px;
        padding: 20px 75px 0px 0px;
        text-align: right; 
        color: $color1;
    } 
}

/**************************************************************************
navigatie desktop
************************************************************************* */
.nav-desktop{
    display: none;
    @media (min-width: $breekpunt3) {
            display: block;
            padding-top: 70px;
            padding-left: 30px; /* TOONT NIET? MAAR WEL ALS IK INSPECTEER */
    
        }
}

.nav-item{
    list-style-type: none;
    padding-bottom: 10px;
    font-family: $font1;

    .nav-link{
        color: $color3;
        text-decoration: none;
    }
}
.nav-item a:hover{
    background-color:$color3;
    color: $color1;
    padding: 10px;
}

  /* *************************************************************************
achtergrond
************************************************************************* */
.bg1{
   background-image: url("../images/bg1-mobiel.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

    @media (min-width: $breekpunt2) {
        background-image: url("../images/bg1-tablet.jpg");
        background-size: 100%;
    }
    @media (min-width: $breekpunt3){
        background-image: url("../images/bg1-desktop.jpg");
        background-size: 100%;
        background-repeat: repeat-y;
    }
    @media (min-width: $breekpunt4){
        background-image: url("../images/bg1-grotedesktop.jpg");
        background-size: 100%;
    }
}

  /* *************************************************************************
illustratie sjaal
************************************************************************* */
.ill-scarf{
display: none;
    @media (min-width: $breekpunt3){
    display: block;
    background-image: url("../images/snake-5.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;}
    @media (min-width: $breekpunt4){
    height: 1000px;
    }
}
  /* *************************************************************************
CROWDFUNDING
************************************************************************* */
.crowdfunding-titel{
    h1{
            font-family: $font1;
            font-size: 50px;
            color:$color3;
            margin-bottom: 20px;
            margin-top: 50px;
    }
}
.intro{
    margin-top: 40px;
    @media (min-width:$breekpunt4){
        margin-left: 100px;
        margin-bottom: 40px;
    }
    h2{
        font-family: $font1;
        font-size: 30px;
        color: $color1;
    }
    p{
        font-family: $font2;
        font-size: 18px;
        color:$color3;
        @media (min-width: $breekpunt4){
            color: $color2;
        }
    }
}
.uitleg{
    text-align: right; 
    margin-bottom: 60px;
    margin-top: 30px;
    h3{
        font-family: $font2;
        font-size: 18px;
        color:$color1;
    }
}
.progress{
    @media (min-width: $breekpunt4){
        margin-left: 120px;
        margin-right: 50px;
    }
}
.btn{
    background-color: $color1;
    border-style: none;
    font-family: $font1;
    margin-bottom: 40px;
    margin-left: 100px;
    @media (min-width: $breekpunt4){
        margin-left: 100px;
    }
}
.btn:hover{
    background-color: $color2;
}
  /* *************************************************************************
PROGRESS BAR
************************************************************************* */
.bg-scarf{
    background-image: url("../images/progress-scarf.png");
    background-size: 100%;
    background-color: white;
}
.progress{
    border-style: solid;
    border-color: $color1;
    border-width: 1px;
    background-color: white;
    height: 30px;
}
 /* *************************************************************************
FOOTER
************************************************************************* */
.footer{
    background-color: $color2;
    padding-top: 20px;
    @media (min-width: $breekpunt3){
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .contact{
         @media (min-width: $breekpunt3){
            padding-left: 120px;}
    }
    .openingsuren{
        @media (min-width: $breekpunt3){
            padding-left: 75px;
        }
    }

    h3{
        font-family: $font1;
        color: $color3;
        font-size: 18px;
        padding-bottom: 10px;
    }
    p{
        font-family: $font2;
        font-size: 12px;
        color: white;
        line-height: 8px;
    }
 a{
        text-decoration: none;
        color: white;
    }
}

/*newsletter*/
form.form-newsletter {
    display: table;
    font-family: $font2;
    font-size: 12px;
    color: white;
    line-height: 8px;
}

div.form-newsletter {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}
.button-submit{
    background-color: $color1;
    padding: 10px;
    color: $color3;
    border-radius: 50px;
}
.button-submit:hover{
    background-color: $color3;
    color: $color2;
}


 