/* *************************************************************************
variabelen
************************************************************************* */
/* < gsm */
/* tablet */
/* desktop */
/* grote desktop */
/* zalmroze */
/* paars */
/* beige */
/* lichtpaars */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Saira:400,700");
/* *************************************************************************
navigatie
************************************************************************* */
/* navigation menu mobile*/
.nav-mobile {
  overflow: hidden;
  background-color: #95B4F2;
  position: relative;
  font-family: "Saira", sans-serif;
}

@media (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
}

.nav-mobile #nav-items-mobile {
  display: none;
}

.nav-mobile a {
  /* links stijlen*/
  color: #B7CCF5;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.nav-mobile a.icon {
  /* hamburgertje stijlen*/
  background: #FE9C8F;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-mobile a:hover {
  /* hoveren over links */
  background-color: #FE9C8F;
  color: #F2E9DF;
}

.active {
  /* titel pagina */
  background-color: #FE9C8F;
  color: white;
}

.navbar nav-desktop {
  display: none;
}

.titel {
  display: none;
}

@media (min-width: 768px) {
  .titel {
    display: block;
    font-family: "Saira", sans-serif;
    font-size: 38px;
    padding: 20px 40px 0px 0px;
    text-align: right;
    color: #FE9C8F;
  }
}

/**************************************************************************
navigatie desktop
************************************************************************* */
.nav-desktop {
  display: none;
}

@media (min-width: 768px) {
  .nav-desktop {
    display: block;
    margin-top: 40px;
    /* TOONT NIET? MAAR WEL ALS IK INSPECTEER */
  }
}

.nav-item {
  list-style-type: none;
  padding-bottom: 10px;
  font-family: "Saira", sans-serif;
}

.nav-item .nav-link {
  color: #F2E9DF;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #F2E9DF;
  color: #FE9C8F;
  padding: 10px;
}

/* *************************************************************************
achtergrond
************************************************************************* */
.bg1 {
  background-image: url("../images/bg1-mobiel.jpg");
  background-size: 100%;
}

@media (min-width: 768px) {
  .bg1 {
    background-image: url("../images/bg1-tablet.jpg");
    background-size: 100%;
  }
}

@media (min-width: 992px) {
  .bg1 {
    background-image: url("../images/bg1-desktop.jpg");
    background-size: 100%;
  }
}

@media (min-width: 768px) {
  .bg1 {
    background-image: url("../images/bg1-grotedesktop.jpg");
    background-size: 100%;
  }
}

/* *************************************************************************
illustratie sjaal
************************************************************************* */
.ill-scarf {
  display: none;
}

@media (min-width: 992px) {
  .ill-scarf {
    display: block;
    background-image: url("../images/snake1-desktop.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
  }
}

/* *************************************************************************
div's 
************************************************************************* */
.intro {
  background-color: green;
  margin: 5px;
  padding-bottom: 10px;
  width: 200px;
  height: 200px;
}

.left {
  background-color: blue;
  width: 20px;
  height: 20px;
}

.middle {
  background-color: blue;
  width: 20px;
  height: 20px;
}

.right {
  background-color: blue;
  width: 20px;
  height: 20px;
}

.example {
  display: block;
}
/*# sourceMappingURL=custom.css.map */